nav {
    background-color: #004a7c;
    /* Choose any color you like */
    padding: 1rem;
}

nav a {
    color: white;
    padding: 0.5rem;
    display: block;
}

main {
    max-width: 840px;
    margin: 0 auto;
}

h1 {
    color: #004a7c;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid #333;
    padding: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}